.body {
    background-color: #C0E063;
    height: 2440px;
}

.navbar-brand img {
    height: 60px;
}

.navbar-nav .nav-item .nav-link {
    position: relative;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.navbar-nav .nav-item .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #C0E063;
    transition: width 0.3s ease;
}

.navbar-nav .nav-item .nav-link:hover::after {
    width: 100%; 
}

.collapse .nav-link{
    color: black;
    cursor: pointer;
}

.collapse .nav-link:hover{
    color: #C0E063;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-button .btn-2{
    background-color: #C0E063;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
} 

.nav-button .btn-2:hover{
    background-color: white;
    color: #C0E063;
    outline: 1px solid #C0E063;
}

.nav-button .btn-1{
    background-color: white;
    color: #C0E063;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: 1px solid #C0E063;
} 

.nav-button .btn-1:hover{
    background-color: #C0E063;
    color: white;
}

.shapes-2{
    margin-top: 24px;
    width: 100%;
    height: 1880px;
    margin-bottom: 20px;
    background-color: white;
}

.h3-2{
    font-weight: bold;
}

.service .service-item {
    border-radius: 10px;
    transition: 0.3s;
}

.service .service-item:hover {
    box-shadow: 0 0 45px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.service .service-item .h4{
    text-decoration: none;
}

.service .service-item .service-img {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.5s;
}

.service .service-item .service-img img {
    transition: 0.5s;
}

.service .service-item:hover .service-img img {
    transform: scale(1.2);
}

.button-container {
    text-align: center;
}

.hover-button-1 {
    background-color: #C0E063;
    margin-top: 5px;
    color: white;
    border: none;
    padding: 7px 80px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.hover-button-1:hover {
    background-color: white;
    color: black;
    outline: 1.5px solid black;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: black;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
    text-decoration: none;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: white;
    letter-spacing: 1px;
    box-shadow: none;
}

.copyright {
    color: black;
}

.copyright a {
    color: black;
}

@media (max-width: 1000px) {
    .shapes-2{
        height: 2650px;
    }
}

@media (max-width: 768px) {
    .shapes-2{
        height: 5640px;
    }
}

@media (max-width: 523px) {
    .shapes-2{
        height: 5600px;
    }
}
